@import 'main.css';

body {
	background-color: #b9b9b9;
}

.info:hover span{ /*the span will display just on :hover state*/
border:1px solid #efdd0e !important; /* border colour */
background-color:#ffffff; /* background colour here */
color:#000000;         /* text colour */
}

body, input, select, textarea {
	color: #595f64;
}

a {
	color: #efdd0e;
}

input[type="text"]:focus,
input[type="number"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
input[type="search"]:focus,
input[type="url"]:focus,
select:focus,
textarea:focus {
	border-color: #efdd0e;
	box-shadow: 0 0 0 1px #efdd0e;
}

#main {
	background-color: #b9b9b9;
}


#searchresults a:hover { background-color:#efdd0e; }
#searchresults span.category { background-color:#efdd0e; }

.warnings {
	color: #efdd0e !important;
}

#header {
	border-bottom: solid 5px #efdd0e;
}

header.major > :last-child {
	border-bottom: solid 3px #efdd0e;
}

a:hover {
	border-bottom-color: #efdd0e;
	color: #efdd0e !important;
}

strong, b {
	color: #3d4449;
}

h1, h2, h3, h4, h5, h6 {
	color: #efdd0e;
}

label {
	color: #3d4449;
}

textarea:focus {
	border-color: #efdd0e;
	box-shadow: 0 0 0 1px #efdd0e;
}

select option {
	color: #3d4449;
	background: #ffffff;
}

input[type="checkbox"]:checked + label:before,
input[type="radio"]:checked + label:before {
	background: #4c4c4c;
	border-color: #efdd0e;
	color: #ffffff;
}

input[type="checkbox"]:focus + label:before,
input[type="radio"]:focus + label:before {
	border-color: #efdd0e;
	box-shadow: 0 0 0 1px #efdd0e;
}

::-webkit-input-placeholder {
	color: #9fa3a6 !important;
	opacity: 1.0;
}

:-moz-placeholder {
	color: #9fa3a6 !important;
	opacity: 1.0;
}

::-moz-placeholder {
	color: #9fa3a6 !important;
	opacity: 1.0;
}

:-ms-input-placeholder {
	color: #9fa3a6 !important;
	opacity: 1.0;
}

ul.contact li:before {
	color: #efdd0e;
}

ul.pagination li > .page.active {
		background-color: #efdd0e;
		color: #ffffff !important;
}

ul.pagination li > .page.active:hover {
	background-color: #f67878;
}

ul.pagination li > .page.active:active {
	background-color: #f45c5c;
}

table tbody tr:nth-child(2n + 1) {
	background-color: rgba(230, 235, 237, 0.25);
}

table th {
	color: #3d4449;
}

input[type="submit"],
input[type="reset"],
input[type="button"],
button,
.button {
	-moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
	-webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
	-ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
	transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
	box-shadow: inset 0 0 0 2px #efdd0e;
	color: #efdd0e !important;
}

input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
button:hover,
.button:hover {
	background-color: rgba(85, 170, 255, 0.05);
}

input[type="submit"]:active,
input[type="reset"]:active,
input[type="button"]:active,
button:active,
.button:active {
	background-color: rgba(85, 170, 255, 0.15);
}


input[type="submit"].primary,
input[type="reset"].primary,
input[type="button"].primary,
button.primary,
.button.primary {
	background-color: #efdd0e;
	color: #ffffff !important;
}

input[type="submit"].primary:hover,
input[type="reset"].primary:hover,
input[type="button"].primary:hover,
button.primary:hover,
.button.primary:hover {
	background-color: #dfce0d;
}

input[type="submit"].primary:active,
input[type="reset"].primary:active,
input[type="button"].primary:active,
button.primary:active,
.button.primary:active {
	background-color: #efdd0e;
}

.features article .icon:before {
	color: #efdd0e;
}



#search form:before {
	color: #7f888f;
}

#sidebar {
	background-color: #4c4c4c;
}

#sidebar > .inner > .alt {
	background-color: #eff1f2;
}

#sidebar .toggle:before {
	color: #efdd0e;
}

#sidebar > .inner > * {
	border-bottom: solid 2px rgba(85, 170, 255, 0.75);
}

#menu ul {
	color: #ffffff;
}

#menu ul a:hover, #menu ul span:hover {
	color: #efdd0e;
}

#menu ul a.opener:before, #menu ul span.opener:before {
	color: #9fa3a6;
}

#menu ul a.opener:hover:before, #menu ul span.opener:hover:before {
	color: #efdd0e;
}

table.tablesorter thead th {
	background-color: #F0F1F3;
}

table.tablesorter thead tr .headerSortUp {
	background-color: #efdd0e;
}
table.tablesorter thead tr .headerSortDown {
	background-color: #efdd0e;
}
